@import "./css/_functions.scss";
@import "./css/colors.scss";

html,
body {
  background-color: #101010;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  overscroll-behavior: contain;
  width: 100vw;
  height: 100vh;
}

#game {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);

}


#screen {
  image-rendering: pixelated;
  height: 100vh;
}

#version {
  color: ui("info");
}